body {
    background-color: #E7DAC9;
    color: #707070;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #707070;
    transition: color 0.3s;
}

a:hover {
    color: #b9b5b5;
}